*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: spartan;
}

body{
   width: 100%;
   background-image: url("https://in.pinterest.com/pin/762023199441433772/");
}

.nav{
    background-image:transparent;
}
